<a href="https://colab.research.google.com/github/greatsong/2020_public_data_analysis/blob/master/%EC%9A%B0%EB%A6%AC%EB%82%98%EB%9D%BC%EB%8A%94_%EC%A0%90%EC%A0%90_%EC%97%AC%EB%A6%84%EA%B3%BC_%EA%B2%A8%EC%9A%B8%EC%9D%B4_%EA%B8%B8%EC%96%B4%EC%A7%80%EA%B3%A0_%EC%9E%88%EC%9D%84%EA%B9%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 시작하기) 데이터 프로젝트에서 가장 중요한 것은 호기심을 유발하는 '데이터'입니다!

### [ 데이터 분석을 이끄는 질문 ]  
### - '우리나라는 점점 여름과 겨울이 길어지고 있을까?'   -> 데이터로 검증해보기

### [ 분석 방법을 중심으로 본 데이터 프로젝트 7단계 (출처 : 석리송의 생각) ]  
- 1단계 : 데이터 탐색하기 with Web (data.go.kr 등 활용)  
- 2단계 : 데이터 만져보기 with 엑셀  
- 3단계 : 논리적으로 분석하기 with 파이썬  
- 4단계 : 정형 데이터로 복잡한 분석하기 with pandas  
- 5단계 : 정형 데이터로 머신러닝하기 with sckitlearn  
- 6단계 : 다차원 데이터 이해하기 with numpy  
- 7단계 : 비정형 데이터로 딥러닝하기 with tensorflow(pytorch)

### 1단계 : 데이터 탐색하기 with Web

- 폭염일수 그래프로 확인해보기  
https://data.kma.go.kr/climate/heatWave/selectHeatWaveDmap.do?pgmNo=106

- 기온 데이터 다운로드(csv)  
https://data.kma.go.kr/stcs/grnd/grndTaList.do?pgmNo=70

### 2단계 : 데이터 만져보기 with 엑셀 (feat.전처리)

In [ ]:
# 실제 데이터를 살펴보며 질문 생각하고, 분석에 필요없는 부분 다듬기

In [ ]:
# 파일 업로드하는 방법!
from google.colab import files
uploaded = files.upload()

In [ ]:
# 깃허브(Github)의 데이터(+코드) 가져오기
!git clone https://github.com/greatsong/2020_public_data_analysis

In [ ]:
cd 2020_public_data_analysis/

In [ ]:
ls

### 3단계 : 논리적으로 분석하기 with 파이썬

In [ ]:
 # 파일 입력 + for 반복문 + print 출력

In [ ]:
import csv # csv 데이터를 불러오기 위한 라이브러리 import
data = csv.reader(open('ta_20200901073712.csv', encoding = 'cp949')) # 필요없는 옵션 삭제

for row in data : # csv 데이터에서 한 행 꺼내서 반복
    print(row) # 행 출력
    break # 일단 한 줄만 봅시다!

In [ ]:
import csv # csv 데이터를 불러오기 위한 라이브러리 import
data = csv.reader(open('ta_20200901073712.csv', encoding = 'cp949')) # 필요없는 옵션 삭제
next(data) # 헤더(header) skip!
for row in data : # csv 데이터에서 한 행 꺼내서 반복
    print(row) # 행 출력
    break # 일단 한 줄만 봅시다!

- 리스트구나!  
- 기온이 3가지로 나뉘어있구나?(평균, 최저, 최고)  
- 숫자인 것 같지만 사실은 문자열이구나?!  
- 날짜는 '-'로 구분되어 있구나?!

In [ ]:
# tip : split 메서드 사용하기

In [ ]:
a = '1907-10-01'
print(a.split('-'))

#### Q1. 1980 ~ 1999년, 2000 ~ 2019년 중 30도가 넘는 날은 어떤 기간에 더 많았을까요?

[문제해결방법]  
- 기온 데이터 입력
- 두 기간의 30도가 넘는 날을 저장할 변수 2개 만들기  
- 전체 데이터를 반복하며 1980 ~ 1999년 중 30도가 넘는 날을 카운트  
- 전체 데이터를 반복하며 2000 ~ 2019년 중 30도가 넘는 날을 카운트  
- 결과 출력하기

In [ ]:
import csv
data = csv.reader(open('ta_20200901073712.csv', encoding = 'cp949'))
next(data)
summer20 = 0
summer21 = 0

for row in data : 
    date = row[0].split('-')
    year = int(date[0])
    if row[-1] == '' : # 6.25 전쟁 등 비어있는 기간 일부가 있어서 영향 주지 않는 값으로 변경
        row[-1] = 0
    if 1980 <= year < 2000 and float(row[-1]) > 30 :
        summer20 += 1
    elif 2000 <= year < 2020 and float(row[-1]) > 30 :
        summer21 += 1
        
print(summer20, summer21)

#### Q2. 1960, 1980, 2000년대로 20년씩 구간을 분석한다면 어떻게 될까요?

[문제해결방법 구상하기]  
* 저는 이번엔 리스트와 딕셔너리를 써보았습니다 :)

In [ ]:
import csv
data = csv.reader(open('ta_20200901073712.csv', encoding = 'cp949'))
next(data)
gap = [1960,1980,2000]
result = {1960:0, 1980:0, 2000:0}

for row in data : 
    date = row[0].split('-')
    year = int(date[0])
    if row[-1] == '' :
        row[-1] = 0
    for i in gap : 
        if i <= year < i + 20 and float(row[-1]) > 30 :
            result[i] += 1
            
print(result)

- 60년대, 80년대는 큰 차이가 없는데 2000년대에 큰 차이가 생겼네요?!

#### Q3. 1960~2010년대로 10년씩 구간을 분석한다면 어떻게 될까요?

In [ ]:
import csv
data = csv.reader(open('ta_20200901073712.csv', encoding = 'cp949'))
next(data)
gap = [1960,1970,1980,1990,2000,2010]
result = {1960:0, 1970:0, 1980:0, 1990:0, 2000:0, 2010:0}

for row in data : 
    date = row[0].split('-')
    year = int(date[0])
    if row[-1] == '' :
        row[-1] = 0
    for i in gap : 
        if i <= year < i + 10 and float(row[-1]) > 30 :
            result[i] += 1
            
print(result)

#### Q4. 1980년대부터 1년 단위로 분석해보면 어떨까요?

In [ ]:
import csv
data = csv.reader(open('ta_20200901073712.csv', encoding = 'cp949'))
next(data)
result = {}
for i in range(1980,2020) : 
    result[i] = 0 

for row in data : 
    date = row[0].split('-')
    year = int(date[0])
    if row[-1] == '' :
        row[-1] = 0
    if 1980 <= year < 2020 and float(row[-1]) > 30 :
        result[year] += 1
print(result)

- 이걸 꺾은선 그래프로 그려보겠습니다!

In [ ]:
import matplotlib.pyplot as plt
plt.plot(list(result.values()))
plt.show()

- 이번엔 막대 그래프로 그려보겠습니다!

In [ ]:
import matplotlib.pyplot as plt
plt.bar(result.keys(), result.values()) # 딕셔너리의 키와 값을 따로 이렇게 묶을 수도 있습니다.
plt.show()

#### Q5. 1960년대부터 1년 단위로 분석해보면 어떨까요?

In [ ]:
import csv
data = csv.reader(open('ta_20200901073712.csv', encoding = 'cp949'))
next(data)
result = {}
for i in range(1960,2020) : 
    result[i] = 0 

for row in data : 
    date = row[0].split('-')
    year = int(date[0])
    if row[-1] == '' :
        row[-1] = 0
    if 1960 <= year < 2020 and float(row[-1]) > 30 :
        result[year] += 1
import matplotlib.pyplot as plt
plt.bar(result.keys(), result.values())
plt.show()

#### Q6. 1960년대부터 1년 단위로 33도 이상인 날(폭염일수)을 분석해보면 어떨까요?

In [ ]:
import csv
data = csv.reader(open('ta_20200901073712.csv', encoding = 'cp949'))
next(data)
result = {}
for i in range(1960,2020) : 
    result[i] = 0 

for row in data : 
    date = row[0].split('-')
    year = int(date[0])
    if row[-1] == '' :
        row[-1] = 0
    if 1960 <= year < 2020 and float(row[-1]) > 33 :
        result[year] += 1
        
import matplotlib.pyplot as plt
plt.bar(result.keys(), result.values())
plt.show()

- 이런 결과를 유의미하게 분석하려면 통계적 지식이 필요할 것 같습니다.

#### Q7. 15도에서 25도 사이인 날의 비율은 어떻게 변했을까요?

In [ ]:
import csv
data = csv.reader(open('ta_20200901073712.csv', encoding = 'cp949'))
next(data)
result = {}
for i in range(1960,2020) : 
    result[i] = 0 

for row in data : 
    date = row[0].split('-')
    year = int(date[0])
    if row[-1] == '' :
        row[-1] = 0
    if 1960 <= year < 2020 and 15 < float(row[-1]) < 25 :
        result[year] += 1
        
import matplotlib.pyplot as plt
plt.bar(result.keys(), result.values())
plt.show()

#### Q8. 그렇다면 추운 날은 늘어나고 있을까요?

In [ ]:
import csv
data = csv.reader(open('ta_20200901073712.csv', encoding = 'cp949'))
next(data)
result = {}
for i in range(1960,2020) : 
    result[i] = 0 

for row in data : 
    date = row[0].split('-')
    year = int(date[0])
    if row[-2] == '' :
        row[-2] = 0
    if 1960 <= year < 2020 and  float(row[-2]) < -5 :
        result[year] += 1
        
import matplotlib.pyplot as plt
plt.bar(result.keys(), result.values())
plt.show()

### 4단계 : 정형 데이터로 복잡한 분석하기 with pandas   
- 파이썬을 건너뛰고 pandas를 먼저 해보시면 아마 '되긴 하는데, 이게 뭐하는거지?' 싶으실 겁니다.  
- 그래서 파이썬으로 표 형태의 정형 데이터를 먼저 이리저리 논리적으로 분석해본 후에 판다스를 사용하는 것을 추천합니다.  
- 엑셀이 있는데 왜 굳이 파이썬을 쓰냐면, 교육적이기 때문입니다. 
- 그러면 파이썬이 있는데 왜 굳이 판다스를 쓰냐면, 효율적이기 때문입니다.  
- 데이터가 1기가가 넘어가면 파이썬으로는 분석이 어렵습니다.  
- 또, 위에서 분석을 직접해보시면 아시겠지만 뭔가 번거롭습니다. 
- 이럴 때 판다스를 시작하는 것이 좋습니다.  
- 하지만, 판다스는 명령이 너무 많습니다. 많아도 너무 많아서 저는 그냥 구글링해서 찾습니다.  
- 따라서, 오늘은 그냥 맛을 본다는 느낌으로 함께 해주시기 바랍니다.

### [판다스 시작하기]

step 1) csv 데이터 불러오기(헤더 있는 데이터)

In [ ]:
import pandas as pd
df = pd.read_csv('ta_20200901073712_header.csv', encoding = 'cp949') 
df 
# 판다스에서 사용되는 표 형태의 데이터 형식을 data frame이라고 부릅니다.

보통은 head 메서드를 사용해서 가장 위 5개 데이터만 살펴봅니다.

In [ ]:
df.head()

숫자로 이루어진 데이터의 특성을 쭈욱 살펴봅니다.

In [ ]:
df.describe()

전체 데이터에 비해 평균, 최저, 최고 데이터가 숫자가 다른 것을 볼 수 있습니다.   
비어있는 데이터는 간단히 전처리해줍니다.

In [ ]:
df = df.fillna(0)

다시 보면 이제 같아진 것을 확인할 수 있습니다.

In [ ]:
df.describe()

판다스에서 원하는 컬럼을 선택하는 방식은 딕셔너리 사용법과 유사합니다.

In [ ]:
df['최고']

판다스는 이렇게 한 번의 명령으로 전체 데이터에 같은 명령을 적용하는 장점이 있습니다.  
아래처럼 이렇게 조건을 적용하면 참과 거짓인 데이터가 구분이 됩니다.

In [ ]:
df['최고'] > 30

이런 것을 mask라고 하는데, 마스크를 적용하면 전체 데이터 프레임 중 참인 것들만 따로 모을 수 있습니다.

In [ ]:
df[df['최고'] > 30]

그리고 이 결과도 데이터 프레임 형식이기 때문에 여기에서 다시 컬럼 이름을 뽑아낼 수 있겠죠?

In [ ]:
df[df['최고'] > 30]['날짜']

또한 판다스에서는 다양한 날짜 선택 기능을 제공하는데, 이렇게 간단히 연도만 뽑아낼 수 있습니다.

In [ ]:
pd.DatetimeIndex(df['날짜']).year

그리고 딕셔너리와 마찬가지로 새로운 컬럼을 만들고 싶을 땐 이렇게 만들 수 있습니다.  
아래는 연도만 뽑아서 별도의 year라는 컬럼을 만드는 명령입니다.

In [ ]:
df['year'] = pd.DatetimeIndex(df['날짜']).year

head 메서드를 확인해보니 새로운 year라는 컬럼이 생긴 것을 볼 수 있습니다.

In [ ]:
df.head()

그리고 아직 시작도 하지 않았습니다ㅎㅎ 판다스는 데이터 분석에 필요한 엄청난 기능들을 갖고 있습니다.  
예를 들면, 이렇게 한 줄의 코드로 연도별 30도가 넘는 날의 숫자를 카운트해줍니다. 그것도 정렬해서 말이죠!

In [ ]:
df[df['최고'] > 30]['year'].value_counts()

하지만 우리는 시간 순서대로 결과를 확인하고 싶으니 이렇게 메서드를 하나 더 써서 연도별로 정렬을 다시 해보겠습니다.

In [ ]:
df[df['최고'] > 30]['year'].value_counts().sort_index()

그리고 이렇게 메서드를 하나 더 추가해주면, 짜잔하고 그래프까지 그려줍니다.  
참고로 이 그래프는 matplotlib을 사용해서 그리는 것이라 matplotlib은 잘 알아두시면 좋습니다.

In [ ]:
df[df['최고'] > 30]['year'].value_counts().sort_index().plot.bar()

그리고 데이터 조건도 이렇게 아주 간단하게 추가해주면 원하는 조건에 맞게 딱 그래프를 그려줄 수 있습니다.  
눈치 채셨겠지만 and가 &, or는 | 입니다.

In [ ]:
df[(df['최고'] > 30) & (df['year'] > 1980)]['year'].value_counts().sort_index().plot.bar()

### 5줄로 데이터 분석하기!

In [ ]:
import pandas as pd # 판다스 라이브러리 불러오기
df = pd.read_csv('ta_20200901073712_header.csv', encoding = 'cp949')  # 서울의 기온데이터 입력하기
df = df.fillna(0) # 누락된 값 0으로 채우기
df['year'] = pd.DatetimeIndex(df['날짜']).year # year 칼럼 추가하기
df[(df['최고'] > 30) & (df['year'] > 1980)]['year'].value_counts().sort_index().plot.bar() 
# 81년부터 연도별 최고 기온이 30도 넘는 날의 일수 막대그래프로 출력하기

### 마무으리ㅎㅎ

In [ ]:
지금까지 데이터 분석의 전체적인 흐름을 다양한 툴을 활용해서 쭈욱 살펴보았습니다.
머신러닝 딥러닝까지 가지는 못했지만, 정형 데이터를 기반으로 하는 머신러닝을 하려면 판다스를 잘 사용하는 것이 아주 중요하답니다.

오늘 하루만에 모든 것을 소화하시느라 수고 많으셨고, 관심이 생기신 선생님들께서는 시중에 있는 책들을 공부해보시면 재밌으실 겁니다.

하지만, 중요한 것은 함수만 사용하는 데이터 교육 이전에 표 형태의 데이터를 어떻게 처리할 것인지 알고리즘을 생각하고,
그 알고리즘을 논리적, 절차적으로 구현할 수 있는 능력을 키워주셔야한다는 것을 기억하시기 바랍니다! :)